


<!-- start header -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand" >Market</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link link-hover" routerLink="/home"  routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-hover" routerLink="/blog"  routerLinkActive="active" aria-current="page" href="#">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-hover" routerLink="/products"  routerLinkActive="active" aria-current="page" href="#">Shop</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-hover" routerLink="/cart"  routerLinkActive="active" href="#">Cart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-hover" routerLink="/contact"  routerLinkActive="active" href="#">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-hover" routerLink="/login"  routerLinkActive="active" href="#">Login/Register</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li> -->
          
        </ul>
      </div>
    </div>
  </nav>

<!-- end header -->


<div>
  <!-- breadcrumb start-->
  <section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <h2>Register Page</h2>
                        <p>Home <span>-</span> Register</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb start-->

<div class="w-75 mx-auto py-4">
    <form (ngSubmit)="handleRegister(registerForm)" [formGroup]="registerForm">

        <!-- <h4>{{registerForm.get('name')?.getError('minLength')|json}}</h4> -->

        <label for="FirstName">First Name: </label>
        <input type="text" formControlName="FirstName" id="FirstName" class="form form-control">
        <div *ngIf="registerForm.get('FirstName')?.errors && registerForm.get('FirstName')?.touched ">
            <p *ngIf="registerForm.get('FirstName')?.getError('required')" class="text-danger">First Name is Required</p> 
            <p *ngIf="registerForm.get('FirstName')?.getError('minlength')" class="text-danger">First Name MinLength is 3</p>
            <p *ngIf="registerForm.get('FirstName')?.getError('maxlength')" class="text-danger">First Name MaxLength is 12</p>
        </div>

        <label for="LastName">Last Name: </label>
        <input type="text" formControlName="LastName" id="LastName"  class="form form-control">
        <div *ngIf="registerForm.get('LastName')?.errors && registerForm.get('LastName')?.touched ">
            <p *ngIf="registerForm.get('LastName')?.getError('required')" class="text-danger">Last Name is Required</p> 
            <p *ngIf="registerForm.get('LastName')?.getError('minlength')" class="text-danger">Last Name MinLength is 3</p>
            <p *ngIf="registerForm.get('LastName')?.getError('maxlength')" class="text-danger">Last Name MaxLength is 12</p>
        </div>

        <label for="Email">Email: </label>
        <input type="text" formControlName="Email" id="Email"  class="form form-control">
        <div *ngIf="registerForm.get('Email')?.errors && registerForm.get('Email')?.touched ">
            <p *ngIf="registerForm.get('Email')?.getError('required')" class="text-danger">Email is Required</p> 
            <p *ngIf="registerForm.get('Email')?.getError('email')" class="text-danger">Email Must Be Valid</p>
            <p *ngIf="registerForm.get('Email')?.hasError('emailTaken')" class="text-danger">This email is already taken.</p>
        </div>

        <label for="Password">Password: </label>
        <input type="password" formControlName="Password" id="Password"  class="form form-control">
        <div *ngIf="registerForm.get('Password')?.errors && registerForm.get('Password')?.touched ">
            <p *ngIf="registerForm.get('Password')?.getError('required')" class="text-danger">Password Is Required</p> 
            <p *ngIf="registerForm.get('Password')?.getError('pattern')" class="text-danger">Password must be between 6-11 characters, starting with an uppercase letter.</p>
            
        </div>

        <label for="ConfirmPassword">ConfirmPassword: </label>
        <input type="password" formControlName="ConfirmPassword" id="ConfirmPassword"  class="form form-control">
        <div *ngIf="registerForm.get('ConfirmPassword')?.errors && registerForm.get('ConfirmPassword')?.touched ">
            <p *ngIf="registerForm.get('ConfirmPassword')?.getError('required')" class="text-danger">Confirm Password Is Required</p> 
            <p *ngIf="registerForm.get('ConfirmPassword')?.hasError('mustMatch')" class="text-danger"> Passwords must match.</p>
        
        </div>

        <label for="Phone">Phone: </label>
        <input type="number" formControlName="Phone" id="Phone"  class="form form-control">
        <div *ngIf="registerForm.get('Phone')?.errors && registerForm.get('Phone')?.touched ">
            <p *ngIf="registerForm.get('Phone')?.getError('required')" class="text-danger">Phone Number is Required</p> 
            <p *ngIf="registerForm.get('Phone')?.getError('pattern')" class="text-danger">Phone number must be a valid Egyptian number.</p>
        </div>

        <button [disabled]="registerForm.invalid" class="btn btn-outline-primary my-3" type="submit">Register</button>
    
    </form>
</div>


</div>


<app-footer></app-footer>
