
<div>
      <!-- breadcrumb start-->
      <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="breadcrumb_iner">
                        <div class="breadcrumb_iner_item">
                            <h2>Login Page</h2>
                            <p>Home <span>-</span> Login</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->

       <!--================login_part Area =================-->
       <section class="login_part padding_top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="login_part_text text-center">
                        <div class="login_part_text_iner">
                            <h2>New to our Shop?</h2>
                            <p>There are advances being made in science and technology
                                everyday, and a good example of this is the</p>
                            <a routerLink="/register" class="btn_3">Create an Account</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="login_part_form">
                        <div class="login_part_form_iner">
                            <h3>Welcome Back ! <br>
                                Please Sign in now</h3>
                            <form (ngSubmit)="handleLogin()" [formGroup]="LoginForm" class="row contact_form">
                                <div class="col-md-12 form-group p_star">
                                    <input type="email" formControlName="Email" class="form-control" id="email" name="Email" value=" " placeholder="Email">
                                </div>

                                <div *ngIf="LoginForm.get('Email')?.errors && LoginForm.get('Email')?.touched ">
                                    <p *ngIf="LoginForm.get('Email')?.getError('required')" class="text-danger">Email is Required</p> 
                                    <p *ngIf="LoginForm.get('Email')?.getError('email')" class="text-danger">Email Must Be Valid</p>
                                </div>

                                <div class="col-md-12 form-group p_star">
                                    <input type="password" formControlName="Password" class="form-control" id="Password" value=" " name="Password" placeholder="Password">
                                </div>
                                <div *ngIf="LoginForm.get('Password')?.errors && LoginForm.get('Password')?.touched ">
                                    <p *ngIf="LoginForm.get('Password')?.getError('required')" class="text-danger">Password Is Required</p> 
                                </div>

                                <div class="col-md-12 form-group">
                                    <div class="creat_account d-flex align-items-center">
                                        <input type="checkbox" id="f-option" name="selector">
                                        <label for="f-option">Remember me</label>
                                    </div>
                                    <button  [disabled]="LoginForm.invalid" type="submit" value="submit" class="btn_3">
                                        log in
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================login_part end =================-->

</div>

<app-footer></app-footer>