<div class=" text-center w-100 " *ngIf="loading">
    <app-spinner></app-spinner>
</div>
<div  *ngIf="!loading">
    <h1 class="my-4">All Orders</h1>
    <table class="datatable table table-hover my-5">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Promo ID</th>
                <th>Date</th>
                <th>Time</th>
                <th>Total Price</th>
                <th>Country</th>
                <th>City</th>
                <th>Address</th>
                <!-- <th>Number of Items</th> -->
                <th>Order Items</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of orders">
                <td>{{item.userId}}</td>
                <td>{{item.promoId}}</td>
                <td>{{item.date | date:"shortDate"}}</td>
                <td>{{item.date | date:"shortTime"}}</td>
                <td>{{item.totalPrice}}</td>
                <td>{{item.country}}</td>
                <td>{{item.city}}</td>
                <td>{{item.address}}</td>
                <!-- <td>{{item.numberOfItems}}</td> -->
                <td><i class="bi bi-boxes" routerLink="/dashboard/orders/orderItems/{{item.id}}"></i></td>
            </tr>
        </tbody>
    </table>
</div>
   
